<dc-navbar-default [whiteMenu]="true" [darkLinks]="false"></dc-navbar-default>

<dc-page-header-wave [title]="'Gizlilik & Koşullar'"></dc-page-header-wave>

<main class="position-relative overflow-hidden">
  <dc-terms-terms></dc-terms-terms>
  <dc-footer1></dc-footer1>
</main>
