<footer class="site-footer section">
  <div class="container pb-3">
    <hr class="mt-5" />
    <div class="row small align-items-center">
      <div class="col-md-4 mr-auto text-center mt-4 mb-4">
        <img src="assets/logo.png" alt="" class="logo" />
      </div>
      <div class="col-md-4 text-center mt-4 mb-4">
        <span
          >© 2020 - degersorgula.com -
          <a href="tel:02163389092">0 216 802 10 42</a></span
        >
      </div>
      <div class="col-md-4  mt-4 mb-4">
        <nav class="nav justify-content-center justify-content-md-end">
          <a href="#" class="btn btn-circle btn-sm btn-secondary mr-3 op-4">
            <fa-icon [icon]="fa.faFacebook"></fa-icon>
          </a>
          <a href="#" class="btn btn-circle btn-sm btn-secondary mr-3 op-4">
            <fa-icon [icon]="fa.faTwitter"></fa-icon>
          </a>
          <a href="#" class="btn btn-circle btn-sm btn-secondary op-4">
            <fa-icon [icon]="fa.faInstagram"></fa-icon>
          </a>
        </nav>
      </div>
    </div>
  </div>
</footer>
