<dc-navbar-default [whiteMenu]="true" [darkLinks]="false"></dc-navbar-default>
<dc-page-header-wave [title]="'Başvuru'"></dc-page-header-wave>

<main class="position-relative overflow-hidden">
  <dc-apply-apply></dc-apply-apply>
  <dc-footer1></dc-footer1>
</main>
