@import "import";

.bright {
  filter: brightness(100);
}

.navbar-collapse {
  z-index: 99;
}

.sidebar-brand {
  text-align: center;
  margin: 20px 0;

  @include media-breakpoint-up(md) {
    text-align: initial;
  }
}
