<nav
  class="navbar navbar-expand-md navigation sidebar-left"
  [ngClass]="{
    'navbar-expanded': navbarExpanded,
    'navbar-sticky': navbarSticky,
    'dark-link': darkLinks
  }"
>
  <div class="container">
    <button
      class="navbar-toggler"
      [ngClass]="{ bright: whiteMenu }"
      type="button"
      (click)="toggleNavbar()"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a [routerLink]="['/']" class="navbar-brand mt-3 logo">
      <img
        src="assets/logo.png"
        alt="Dashcore"
        class="logo logo-sticky"
        *ngIf="useOnlyDarkLogo || darkLogo; else logos"
      />
      <div
        (click)="call()"
        class="text-white nav-link p-0 justify-content-center align-items-center d-flex mt-2 d-md-none"
        [routerLink]="['/']"
      >
        <fa-icon [icon]="faPhone" class="d-md-inline mr-md-2 mr-2 d-none"></fa-icon>
        <span class="d-lg-inline">0 216 802 10 42</span>
      </div>
      <ng-template #logos>
        <img
          src="assets/logo.png"
          alt="Dashcore"
          class="logo logo-sticky d-block d-md-none"
        />
        <img
          src="assets/logo.png"
          alt="Dashcore"
          class="logo d-none d-md-block bright"
        />
      </ng-template>
    </a>

    <div class="collapse navbar-collapse ml-auto">
      <div class="sidebar-brand">
        <a href="#main">
          <img src="assets/logo.png" alt="Dashcore Template" class="logo" />
        </a>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</nav>
