<dc-navbar-shell
  [darkLinks]="darkLinks"
  [useOnlyDarkLogo]="darkLinks ? true : useOnlyDarkLogo"
  [darkLogo]="darkLogo"
  [whiteMenu]="whiteMenu"
>
  <nav
    class="nav navbar-nav flex-row"
    [ngClass]="{ 'ml-md-auto': !isRightPositioned() }"
  >
    <a class="nav-link p-3" [routerLink]="['/']" (click)="scrollHow()">
      Başvuru Süreci ?
    </a>
    <!-- <a class="nav-link p-3" [routerLink]="['/']" (click)="scrollHow()">
      S ?
    </a> -->
    <!-- <a class="btn btn-rounded btn-outline p-3 text-center" [routerLink]="['/apply']">
      <fa-icon [icon]="signInAlt" class="d-none d-md-inline mr-md-2"></fa-icon>
      <span class="d-lg-inline">Başvuru Takip</span>
    </a> -->
    <a
      class="nav-link p-3 justify-content-center align-items-center"
      href="tel:+02168021042"
    >
      <fa-icon [icon]="faPhone" class="d-none d-md-inline mr-md-2"></fa-icon>
      <span class="d-lg-inline">216 802 10 42</span>
    </a>
  </nav>
</dc-navbar-shell>
