@import "import";

.navbar-nav {
  flex-grow: 1;
  justify-content: center;
  display: grid;
  grid-template-columns: 0.7fr;
  text-align: center;

  @include media-breakpoint-up(md) {
    justify-content: flex-end;
    display: flex;
  }

  a {
    margin-bottom: 20px;
  }
}
