<section
  class="section {{ background ? 'bg-' + background : '' }} {{
    edge ? 'edge ' + edge : ''
  }}"
>
  <div class="container pt-5">
    <div class="d-flex align-items-center flex-column flex-md-row">
      <div class="text-center text-md-left mr-md-6">
        <p class="light mb-0 text-primary lead">
          Aracınızda oluşan hasar değer kaybını geri mi kazanmak istiyorsunuz?
        </p>
        <h2 class="mt-4 mb-5">Hemen şimdi başlayın.</h2>
      </div>
      <dc-modal-form>
        BAŞVUR
      </dc-modal-form>
    </div>
  </div>
</section>
