<section
  class="section {{ background ? 'bg-' + background : '' }} {{
    edge ? 'edge ' + edge : ''
  }}"
  [ngClass]="classes"
>
  <div id="nasil" class="container bring-to-front">
    <div class="row">
      <div class="col-md-4">
        <h2>
          Değer kaybı tahsili <span class="bold">süreci nasıl ilerler?</span>
        </h2>

        <p class="lead">
          Alanında deneyimli hukukçu ve eksper ekibimizle her adımda yanınızda
          olacağız.
        </p>

        <p class="text-muted">
          En doğru hesaplama ve mağduriyet riski olmadan, hasar değer kaybınızı
          size geri kazandırıyoruz.
        </p>
      </div>

      <div class="col-md-8">
        <div class="accordion accordion-clean">
          <dc-faqs-accordion></dc-faqs-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
