<section class="section terms">
  <div class="container pt-md-9">
    <form
      *ngIf="!hideForm"
      class="form form-contact mt-5 mb-4"
      name="form-contact"
      #applyForm="ngForm"
      (ngSubmit)="onSmsModalSubmit(applyForm)"
      data-response-message-animation="slide-in-up"
    >
      <div class="form-group">
        <label for="name">İsim Soyisim</label>
        <input
          type="text"
          name="fullname"
          [(ngModel)]="fullname"
          id="fullname"
          class="form-control"
          placeholder="Ali Günenç"
        />
      </div>
      <div class="form-group">
        <label for="plaque" class="mb-2">Plaka Numaranız</label>
        <input
          type="text"
          name="plaque"
          [(ngModel)]="plaque"
          id="plaque"
          mask="00 SS* 0000"
          [dropSpecialCharacters]="false"
          class="form-control bg-contrast text-uppercase"
          placeholder="01 ALI 12345"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">TC Kimlik Numarası</label>
        <input
          type="text"
          name="tckno"
          mask="00000000000"
          [(ngModel)]="tckno"
          id="tckno"
          class="form-control"
          placeholder="11 haneli TC No"
        />
      </div>
      <div class="form-group">
        <label for="company">Araç Yılı</label>
        <input
          type="text"
          name="year"
          mask="0000"
          [(ngModel)]="year"
          id="year"
          class="form-control"
          placeholder="2015"
        />
      </div>
      <div class="form-group">
        <label for="company">Marka</label>
        <input
          type="text"
          name="brand"
          [(ngModel)]="brand"
          id="brand"
          class="form-control"
          placeholder="Opel"
        />
      </div>
      <div class="form-group">
        <label for="company">Model</label>
        <input
          type="text"
          name="model"
          [(ngModel)]="model"
          id="model"
          class="form-control"
          placeholder="Astra 2019"
        />
      </div>
      <div class="form-group">
        <label for="company">Kaza Tarihi</label>
        <input
          type="text"
          name="crashDate"
          mask="00/00/0000"
          [(ngModel)]="crashDate"
          id="crashDate"
          class="form-control"
          placeholder="02/04/2019"
        />
      </div>

      <div class="form-group mt-5">
        <button
          class="btn btn-rounded btn-primary btn-block btn-lg text-center"
          type="submit"
        >
          Gönder
        </button>
      </div>
    </form>

    <div *ngIf="authError">
      <div class="alert alert-info" role="alert">
        Giriş bilgilerinizi bulamadık. Lütfen tekrar SMS onayı alın.
      </div>
      <dc-modal-form>
        Tekrar Giriş Yap
      </dc-modal-form>
    </div>

    <div *ngIf="falbackError">
      <div class="alert alert-info" role="alert">
        Sistemsel bir sorun oluştu. Size bizzat ulaşacağız.
      </div>
    </div>

    <div *ngIf="showSuccess">
      <div class="alert alert-success" role="alert">
        Başvurunuz sıraya alındı.
      </div>
    </div>
  </div>
</section>
