<section class="section">
  <div class="container pt-0">
    <div class="row gap-y pt-5">
      <div
        class="col-12 col-sm-12 col-md-6 text-center"
        *ngFor="let c of counters"
      >
        <p class="counter bold text-darker font-lg" [countUp]="c.value">
          {{ c.value }}
        </p>
        <p class="text-secondary m-0 font-lg">{{ c.title }}</p>
      </div>
    </div>
  </div>
</section>
