@import "import";

.faqs-sidebar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;

  @include media-breakpoint-up(md) {
    & {
      justify-content: flex-start;
      text-align: left;
      align-items: flex-start;
    }
  }

  h4 {
    display: "flex";
  }
}
