<div class="faqs-sidebar-container pt-md-9">
  <h4 class="bold small text-uppercase mt-4 mb-3">KONULAR</h4>
  <nav class="nav flex-column font-sm">
    <a class="pl-0 nav-item nav-link bold active" [routerLink]="['/ss/common']"
      >Common Questions</a
    >
    <a class="pl-0 nav-item nav-link" [routerLink]="['/ss/common']"
      >Getting Started</a
    >
    <a class="pl-0 nav-item nav-link" [routerLink]="['/ss/common']"
      >My Account</a
    >
    <a class="pl-0 nav-item nav-link" [routerLink]="['/ss/common']"
      >Integrations</a
    >
    <a class="pl-0 nav-item nav-link" [routerLink]="['/ss/common']"
      >Licencing</a
    >
  </nav>
</div>
