<header class="section page header smart-business-header">
  <div class="shape-wrapper">
    <img
      src="assets/img/v6/header/bg-shape.svg"
      class="main-background img-responsive"
      alt=""
    />
    <div class="shape shape-background shape-top center-xy"></div>
    <div class="shape shape-background shape-right"></div>
  </div>

  <div class="container overflow-hidden hero">
    <div class="row gap-y">
      <div class="col-md-12">
        <p class="bold small font-sm text-uppercase text-dark"></p>
        <h1 class="extra-bold font-md">
          SON 2 YILDA <br />ARACINIZINDA OLUŞAN
          <span class="d-block light font-md d-md-none">
            DEĞER KAYBININIZI GERİ <br />
            ÖDETTİRİYORUZ</span
          >
          <span class="light d-none d-md-block font-lg"
            >DEĞER KAYBINIZI GERİ <br />
            ÖDETTİRİYORUZ</span
          >
        </h1>
        <p class="lead col-md-6">
          Dosya masrafı yok, exper masrafı yok, harç masrafı yok, vergi masrafı
          yok
        </p>
        <nav class="nav mt-5">
          <dc-modal-form>
            HEMEN BAŞLA
          </dc-modal-form>
        </nav>
      </div>
    </div>
  </div>

  <div class="main-shape-wrapper">
    <div data-aos="fade-left" data-aos-delay="300">
      <img
        src="assets/img/v6/header/main-shape.svg"
        class="img-responsive main-shape"
        alt=""
      />
      <img
        src="assets/img/v6/header/anim-1.svg"
        class="anim anim-1 floating"
        alt=""
      />
      <img
        src="assets/img/v6/header/anim-1.svg"
        class="anim anim-2 floating"
        alt=""
      />
      <img
        src="assets/img/v6/header/anim-1.svg"
        class="anim anim-3 floating"
        alt=""
      />
    </div>
  </div>
</header>
