<dc-navbar-default
  [useOnlyDarkLogo]="false"
  [position]="'right'"
  [darkLogo]="false"
  [whiteMenu]="true"
></dc-navbar-default>

<dc-page-header-wave
  [title]="'FAQs'"
  [subtitle]="
    'Here are the answers to some of the most common questions we hear from our appreciated customers.'
  "
>
</dc-page-header-wave>

<main class="position-relative overflow-hidden">
  <div class="row container">
    <div class="col-md-3">
      <dc-faqs-sidebar></dc-faqs-sidebar>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<dc-cta1 [edge]="'top-left'" [background]="'none'"></dc-cta1>

<dc-footer1></dc-footer1>
