<a
  class="nav-link btn btn-rounded btn-primary bw-2 font-sm"
  href="javascript:;"
  (click)="start()"
>
  <ng-content></ng-content>
</a>

<ngx-smart-modal
  #smsModal
  [identifier]="smsModalId"
  [customClass]="getCustomClass()"
>
  <div class="form-container">
    <form
      class="form form-contact mt-5 mb-4"
      name="form-contact"
      #smsModalForm="ngForm"
      (ngSubmit)="onSmsModalSubmit(smsModalForm)"
      data-response-message-animation="slide-in-up"
    >
      <div class="form-group">
        <label for="phone" class="bold mb-0">Telefon Numaranız</label>
        <small class="form-text text-secondary mt-0 mb-2 italic"
          >Sms ile onay bilgilendirmesi yapılacaktır</small
        >
        <input
          type="phone"
          name="phone"
          id="phone"
          class="form-control bg-contrast"
          mask="(000) 000 00 00"
          placeholder="+90 (543) 437 73 78"
          prefix="+90 "
          ngModel
          required
        />
      </div>

      <div class="form-group">
        <button
          id="contact-submit"
          name="submit"
          type="submit"
          class="btn btn-primary btn-rounded mt-2"
        >
          Gönder
        </button>
      </div>
    </form>
  </div>
</ngx-smart-modal>

<ngx-smart-modal
  #smsApprove
  [identifier]="smsApproveModalId"
  [customClass]="getCustomClass()"
>
  <div class="form-container">
    <form
      class="form form-contact mt-4 mb-4"
      name="form-contact"
      #smsApproveModalForm="ngForm"
      (ngSubmit)="onSmsApproveModalSubmit(smsApproveModalForm)"
      data-response-message-animation="slide-in-up"
    >
      <div class="form-group">
        <label for="smsCode" class="bold mb-2">SMS Kodu</label>
        <input
          type="text"
          name="smsCode"
          id="smsCode"
          ngModel
          mask="000000"
          class="form-control bg-contrast text-uppercase"
          placeholder="Sms kodunu giriniz"
          required
        />
      </div>

      <div class="row">
        <div
          *ngIf="!(smsApprove.hasData() && smsApprove.getData().showAgain)"
          class="col-md-4"
        >
          <div class="form-group">
            <button
              id="contact-submit"
              name="submit"
              type="submit"
              class="btn btn-primary btn-rounded mt-2"
            >
              Onayla
            </button>
          </div>
        </div>
        <div
          *ngIf="!(smsApprove.hasData() && smsApprove.getData().showAgain)"
          class="col-md-2"
        >
          <div class="form-group">
            <p class="font-md mt-0 text-primary">
              {{ smsApprove.hasData() && smsApprove.getData().counter }}
            </p>
          </div>
        </div>
        <div
          *ngIf="smsApprove.hasData() && smsApprove.getData().errorMessage"
          class="col-md-5"
        >
          <div class="form-group">
            <p class="font-sm mb-0 text-danger">
              {{ smsApprove.hasData() && smsApprove.getData().errorMessage }}
            </p>
          </div>
        </div>
        <div
          *ngIf="smsApprove.hasData() && smsApprove.getData().showAgain"
          class="col-md-6"
        >
          <div class="form-group">
            <button
              class="btn btn-primary btn-rounded mt-2"
              (click)="resend()"
              type="button"
            >
              Tekrar Gönder
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>
